@{
    ViewBag.Title = "About";
}

<form class="form-group" method="post">
    <div>
        <label>Hasta numarası :</label>
        <input type=" text" class="form-control" name="hastano" />
        <label>Hasta Adı :</label>
        <input type=" text" class="form-control" name="hastaad" />
        <label>Hasta Yaşı :</label>
        <input type=" text" class="form-control" name="yas" />
        <label>Hasta Cinsiyeti :</label>
        <input type=" text" class="form-control" name="cinsiyet" />
        <label>Hastanın Hastalığı :</label>
        <input type=" text" class="form-control" name="hastalik" />
        <label>Yazılan İlaç :</label>
        <input type=" text" class="form-control" name="ilac" />

    </div>
    <div>
        <button class=" btn btn-info"> Kaydet </button>
    </div>

</form>