@{
    ViewBag.Title = "Doctors1";
}

<form class="form-group" method="post">
    <div>
        <label>Doktor adı :</label>
        <input type=" text" class="form-control" name="doktorad" />
        <label>Doktor Branşı :</label>
        <input type=" text" class="form-control" name="doktorbrans" />
        <label>Doktor unvanı :</label>
        <input type=" text" class="form-control" name="unvan" />
        

    </div>
    <div>
        <button class=" btn btn-info"> Kaydet </button>
    </div>

</form>